<head>
   <div class="split-left">
      <h2> No Account? Create One <%=link_to 'HERE!', '/signup' %></h2><br>
   </div>

   <div class="split-right">
      <h2> Welcome Back! Login <%=link_to 'HERE!', '/login' %></h2><br>
   </div>
</head>